#myslide {
    position: relative;
    width: 375px;
    height: 450px;
    border: 3px solid black;
    overflow: hidden;
}

#one, #two {
    position: absolute;
    width: 375px;
    height: 450px;
    left: 0;
    top: 0;
    overflow: hidden;
}

#one {
    background: yellow;
}

#two {
    background:blue;
}
